@model MVC_Assignment1.Models.Student
@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>
<h2>Student Details</h2>
<p>Name: @ViewData["Name"]</p>
<p>Age: @ViewData["Age"]</p>

<h3>User Info</h3>
<p>Name: @ViewData["Name"]</p>
<p>Age: @ViewData["Age"]</p>


<h4>Student Info</h4>
<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>


